body { display: flex; flex-flow: column nowrap; align-items: center; justify-content: center; }
html { font-size: calc(1em + 4vw); font-family: Helvetica, sans-serif }
button, select, option { font-size: inherit; font-family: inherit; border-radius: 4px; }
input { font-size: inherit; font-family: inherit; }