<!doctype html>
<html>
    <head>
        <title>fc</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <p>Converts temperature between Fahrenheit and Celsius</p>
        <form action="/" method="post">
            <input type="number" name="value" id="value" required />
            <input type="radio" name="unit" id="F" value="F" /><label for="F">F</label>
            <input type="radio" name="unit" id="C" value="C" /><label for="C">C</label>
            <p><input type="submit" value="Convert!"/></p>
        </form>
        {% if error.len() > 0 %}
        <p style="color:#fd1e68">{{ error }}</p>
        {% endif %}

        {% match output %}
        {% when Some with (tvec) %}
    {#
        {% for t in tvec %}
                <p>{{ input.unwrap().value }} &rarr; {{ t.value }}{{ t.unit }} </p>
            {% endfor %}
    #}
        {% else %}
        {% endmatch %}
    </body>
</html>