<!doctype html>
<html>
    <head>
        <title>fc</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <form action="/" method="post">
            <input type="number" name="value" id="value" 
            {% match input %}
                {% when Some with (t) %}
                    value="{{t.value()}}"
                {% when None %}
            {% endmatch %}
            required />
            <input type="radio" name="unit" id="F" value="F" 
            {% match input %}
                {% when Some with (t) %}
                    {% if t.unit() == "F" %}
                        checked
                    {% endif %}
                {% when None %}
            {% endmatch %}
            /><label for="F">&#8457;</label>
            <input type="radio" name="unit" id="C" value="C" 
            {% match input %}
                {% when Some with (t) %}
                    {% if t.unit() == "C" %}
                        checked
                    {% endif %}
                {% when None %}
            {% endmatch %}            
            /><label for="C">&#8451;</label>
            <p><input type="submit" value="Convert!"/></p>
        </form>
        {% if error.len() > 0 %}
        <p style="color:#fd1e68; font-size: xx-large;">{{ error }}</p>
        {% endif %}        

        {% match output %}
            {% when Some with (tvec) %}
                {% for t in tvec %}
                    <p style="font-size: xx-large;">{{ input.unwrap().value() }} {{ input.unwrap().unit() }} &rarr; {{ t.value() }} {{ t.unit() }} </p>
                {% endfor %}
            {% when None %}
        {% endmatch %}
    </body>
</html>